@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
</div>
    <h1 id="cream">The Creamery</h1>
    
    

<div class="title">
    <p>The Creamery takes great pride in offering you all the various products that you might wish to purchase for your coffee drinking experiences. Our professional shoppers scoure the web, seeking out new and improved creamers, grinders, coffee blends, you name it so that you can create a customized list to procure them for yourself.</p>
</div>